@import "../../styles/resposive.scss";
@import "../../styles/color.scss";
.section_container {
    margin: 1em auto;
    padding: 0;
    border-top: 1px solid #888888;

    .section_content {
        width: 100%;

        .section_title {
            padding: 0em;

            @include Responsive(MS) {
                padding: 0 0.5em;
                font-size: 16px;
            }
        }

        .section_slider {
            display: block;
            width: 100%;

            // padding: 1em;
            .section_item {
                width: 20%;
                height: auto;
                padding: 1em;

                .item_content {
                    display: flex;
                    flex-direction: column;
                    border: 2px solid $color-border;

                    .item_description {
                        padding: 1em;

                        p {
                            color: red;
                            font-weight: 700;
                        }


                    }
                }
            }

            @include Responsive(SM) {
                display: none;
            }
        }

        .section_mobile {
            display: none;

            @include Responsive(SM) {
                display: flex;
                flex-wrap: wrap;
            }

            .section_mobile_item {
                width: 100%;

                @include Responsive(SM) {
                    width: 25%;
                }
                @include Responsive(MS) {
                    width: 50%;
                }
               
                height: auto;
                // padding: 1em;

                .mobile_item_content {
                    display: flex;
                    flex-direction: column;

                    border: 2px solid #888888;

                    .mobile_item_description {
                        padding: 1em;

                        h4 {
                            font-size: 16px;
                        }

                        p {
                            color: red;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}