@import "../../styles/resposive.scss";
@import "../../styles/color.scss";

.layout {
    width: 100%;
    height: 100%;
    // padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    // background-color: $color-white;
    border-radius: 10px;

    .row {
        gap: 1em;
    }

    .col {
        background-color: $color-white;
        border-radius: 10px;
    }

    .col_content {
        width: 100%;
    }
}