@import "../../../../styles/resposive.scss";
@import "../../../../styles/color.scss";

.loading {
    width: 100%;
    height: 80vh;
}

.detail_container {
    margin-top: 3em;
    border: 1px solid $color-grey;
    padding: 1em;

    .image_detail {
        width: 100%;
        border: 1px solid $color-grey;
        padding: 0.2em;
        cursor: pointer;
    }

    .detail_content {
        padding: 0 2em;

        .detail_name {
            padding: 1em 0;
            border-bottom: 1px solid $color-main;
            text-align: justify;
        }

        .detail_text_group {
            width: 100%;
            padding: 1em 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .detail_item {
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: space-between;
                line-height: 1;
                margin: 0;


            }
        }


        .detail_item_group {
            width: 300px;
            display: flex;
            justify-content: space-between;

            .category {
                padding: 0 1em;
                background-color: $color-red;
                color: $color-white;
                border-radius: 5px;
                cursor: pointer;
            }

            .type {
                padding: 0 1em;
                background-color: $color-blue-detail;
                color: $color-white;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        .detail_price {
            padding: 1em;
            display: flex;
            align-items: center;
            gap: 1em;

            .price_discounted {
                font-size: 32px;
                font-weight: 700;
                color: $color-red;
            }

            .price_main {
                padding: 0 1em;
                font-size: 16px;
                text-decoration-line: line-through;
            }

            .discount {
                background-color: $color-red;
                color: $color-white;
                padding: 0.4em 0.6em;
                border-radius: 5px;
            }
        }

        .detail_quantity {
            width: 300px;
            display: flex;
            justify-content: space-between;

            .quantity {
                padding: 0 1em;
            }
        }

        .detail_description {
            margin-top: 1em;
            padding-top: 1em;
            border-top: 1px solid $color-main;

            .description {
                padding: 0 1em;
                text-align: justify;
            }
        }
    }

}

.text_span {
    font-weight: 600;
    padding: 0 1em;
}

.text_defaul {
    padding: 0 1em;
}

.detail_group_button {
    margin-top: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detail_button {
    width: auto;
    padding: 0 0.5em;
    margin: 0 0.25em;
}

.btn_edit {
    @extend .detail_button;
    background-color: $color-main;
    border: none;
    @extend .button_hover;
    @extend .button_focus;
}

.btn_delete {
    @extend .detail_button;
    background-color: $color-red-delete;
    border: none;

    &:hover {
        background-color: $color-red-delete-focus;
        color: $color-white;
        border: none;
        box-shadow: $box_shadow $color-shadow-red-delete  !important;
    }
}

table {
    width: 100%;

    tr {
        border: 1px solid $color-grey;

        th {
            border: 1px solid $color-grey;
            padding-left: 0.3em;
        }

        td {
            padding-left: 0.3em;
            border: 1px solid $color-grey;
        }
    }
}