@import "../../../../styles/resposive.scss";
@import "../../../../styles/color.scss";

.section {
  width: 100vw;
  .body {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1em auto;
    .side_bar {
      width: 15%;
      padding: 1em;
      @include Responsive(MD) {
        display: none;
      }
    }
    .side_content {
      width: 85%;
      padding: 1em;
      @include Responsive(MD) {
        width: 100%;
      }
    }
  }
}
