@import "../../../../styles/resposive.scss";
@import "../../../../styles/color.scss";

.sidebar {
  width: auto;
  height: 100%;
  overflow: hidden;
  background-color: $color-main;

  .sidebar_container {
    width: 100%;
    height: 400px;
    padding-top: 1em;

    .toggle_menu {
      width: 100%;
      cursor: pointer;
      font-size: 16px;

      @include Responsive(SM) {
        font-size: 12px;
      }

      padding: 1em 0;
      color: $color-white;
      display: flex;
      justify-content: flex-start;

      i {
        padding: 1 1.5em;
        width: 4em;
        text-align: center;
      }

      &:hover,
      &:focus {
        background-color: $color-focus;
      }
    }
  }

  .input_group {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 1em 0.5em;

    input {
      height: 40px;
      width: 100%;
      border: none;
      padding-left: 1em;
      box-shadow: $box_shadow_input $color-shadow;
      @extend .input_focus;
    }

    .input_none {
      display: none;
    }

    .button_display {
      height: 40px;
      width: 4em;
      border: none;
      padding: 0 1em;
      font-size: 16px;

      @include Responsive(SM) {
        font-size: 12px;
      }

      background-color: $color-main;
      color: $color-white;

      &:hover {
        background-color: $color-focus;
        color: $color-white;
        border: none;
      }
    }

    .button_none {
      @extend .button_display;
      width: 100%;
    }
  }

  .sidebar_list {
    margin-top: 50px;

    ul {
      list-style: none;
      width: 100%;
      padding: 0;

      a {
        text-decoration: none;

        li {
          width: 100%;
          height: 4em;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 16px;

          @include Responsive(SM) {
            font-size: 12px;
          }

          padding: 1em 0.5em;
          color: $color-white;
          cursor: pointer;

          i {
            padding: 0 0.5em;
            text-align: center;
            width: 3em;
            min-width: 3em;
          }

          .text_list {
            min-width: 200px;
            margin-right: 2em;

          }


          .text_list_none {
            display: none;
          }

          &:hover {
            background-color: $color-focus;
          }
        }
      }
    }
  }
}