@import "../../../styles/resposive.scss";
@import "../../../styles/color.scss";

.section {
    width: 100vw;
    overflow: hidden;
    height: 100vh;

    .body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        overflow: hidden;

        .side_bar {
            width: auto;
            height: 100%;
            overflow: hidden;
        }

        .side_content {
            width: 100%;
            padding: 1em;
            // margin-left: 300px;
            overflow-y: scroll;

            @include Responsive(MD) {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}