@import "../../styles/color.scss";
.banner_container {
    width: 100%;
    height: auto;
    padding: 0;

    // background-color:cadetblue;
    .banner_content {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

}

.slick-prev {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 10px;
    opacity: 0.5;

    i {
        font-size: 13px;
    }

    &:hover {
        background-color: $color-focus;
        color: $color-white;
        opacity: 1;
    }
}

.slick-next {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    top: 40%;
    right: 10px;
    opacity: 0.5;

    i {
        font-size: 13px;
    }

    &:hover {
        background-color: $color-focus;
        color: $color-white;
        opacity: 1;
    }
}