$color-main: #27ae61;
$color-focus: #229955;
$color-border: #f5f5f5;
$color-shadow: rgba(40, 175, 98, 0.4);
$color-shadow_red: rgba(182, 0, 0, 0.4);
$color-shadow-grey : rgba(0, 0, 0, 0.4);

$color-red: #ff0000;
$color-red-bold: #b60000;
$color-white: #fff;
$color-grey: #b3b3b3;
$color-darken: #7e7e7e;
$color-blue-cold: #4088ff;
$color-blue-detail: #277cae;
$color-blue-detail-focus: #275dae;
$color-red-delete: #ae2727;
$color-red-delete-focus: #a70000;

$color-shadow-blue-detail: #277cae94;
$color-shadow-red-delete: #ae272780;

$box_shadow: 0 0 0 0.25rem;
$box_shadow_input: 0 0 3px;

.button {
  width: 4em;
  padding: 0.2em 0.5em;
  margin: 0.2em 0.5em;
  font-size: 14px;
}

.buttonEdit {
  @extend .button;
  color: $color-white;
  background-color: $color-main;
  border: none;
  @extend .button_hover;
  @extend .button_focus;
  @extend .button_active;

}

.buttonDelete {
  @extend .button;
  color: $color-white;
  background-color: $color-red-delete;
  border: none;

  &:hover {
    background-color: $color-red-delete-focus;
    color: $color-white;
    border: none;
    box-shadow: $box_shadow $color-shadow-red-delete  !important;
  }
  &:focus {
    background-color: $color-red-delete-focus;
    color: $color-white;
    border: none;
    box-shadow: $box_shadow $color-shadow-red-delete  !important;
  }

}

.button_hover {
  &:hover {
    background-color: $color-focus;
    color: $color-white;
    border: none;
    box-shadow: $box_shadow $color-shadow  !important;
  }
}

.button_focus {
  &:focus {
    background-color: $color-focus;
    color: $color-white;
    border: none;
    box-shadow: $box_shadow $color-shadow  !important;
  }
}

.button_active {
  &:active {
    background-color: $color-focus;
    color: $color-white;
    border: none;
    box-shadow: $box_shadow $color-shadow  !important;
  }
}

.input_hover {
  &:hover {
    box-shadow: $box_shadow $color-shadow  !important;
  }
}

.input_focus {
  &:focus {
    outline: none;
    box-shadow: $box_shadow_input $color-shadow  !important;
  }
}

.input_focus_book {
  &:focus {
    outline: none;
    border: 1px solid $color-focus;
    box-shadow: $box_shadow_input $color-shadow  !important;
  }
}

.input_hover_book {
  &:hover {
    // border: 1px solid $color-focus;
    box-shadow: $box_shadow $color-shadow  !important;
  }
}