/* Mixin */
$XS: 480px;
$MS: 767px;
$SM: 991px;
$MD: 1024px;
$XL: 1199px;

// media queries
@mixin Responsive($canvas) {
    @if $canvas ==XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    }

    @else if $canvas ==MS {
        @media only screen and (max-width: $MS) {
            @content;
        }
    }

    @else if $canvas ==SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    }

    @else if $canvas ==MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    }

    @else if $canvas ==XL {
        @media only screen and (max-width: $XL) {
            @content;
        }
    }
}